/*Base styles*/
body {
  background-color: #fff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}
button:active {
  background-color: #404bbf;
}
/*Default values*/
/* font-size: 16px;
font-weight: 400;
font-style: normal;
color: black;
background-color: white; */

/*Reset styles (скинути)*/
ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*Common styles (поширений)*/

.team-title,
.portfolio-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/*Header section*/

.header {
}
.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.dark-logo {
  color: #2e2f42;
}
.nav-list {
}
.nav-item {
}
.nav-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link:active {
  color: #404bbf;
  text-decoration: underline;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.contact {
  font-style: normal;
}
.contact-list {
}
.contact-item {
}
.contact-link {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
/*Main section*/

.main {
}
.hero {
  background-color: #2e2f42;
}
.hero-title {
  text-align: center;
  color: #fff;
  /* Header 1 */
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
.features {
}
.features-list {
}
.features-item {
}
.features-caption {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-desc {
  color: #434455;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
}
.team-list {
}
.team-item {
  background-color: #ffffff;
}
.team-img {
}
.team-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.team-caption {
  color: #434455;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  font-size: 16px;
}
.portfolio {
}

.portfolio-list {
}
.portgolio-item {
}
.portfolio-img {
}
.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.portfolio-captoin {
  color: #434455;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/*Footer section*/

.footer {
  background: #2e2f42;
}
.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.light-logo {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
